.backButtonStyling{
    -fx-border-color: black;
    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
.buttonStyling {

    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-insets: -8;
}

.button:hover {
    -fx-background-color: rgb(50, 93, 129);
}

.headerLabelStyling {
    -fx-text-fill: steelblue;
    -fx-font-size: 40;
}

.backGroundStyling {
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
}

.GridpaneBorderStyling {
    -fx-border-color: grey;
    -fx-border-width: 5;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

#btn {
     -fx-background-image: url("https://img.icons8.com/color/48/000000/login-rounded-right.png");
     -fx-background-size: 18 18;
     -fx-background-repeat: no-repeat;
     -fx-background-position: 10;
 }

#buttonTeacherLogin {

    -fx-background-image: url("images/icons8-child-48.png");
    -fx-background-position: -2;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30 30;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

#buttonLoginAdmin{

    -fx-background-image: url("images/icons8-clipboard-96.png");
    -fx-background-position: -2;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30 30;
    -fx-background-radius: 5;
    -fx-font-weight: bold;


}
