.backButtonStyling{
    -fx-border-color: black;
    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
.buttonStyling {
    -fx-border-color: black;
    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.button:hover {
    -fx-background-color: rgb(50, 93, 129);
}

.headerLabelStyling {
    -fx-text-fill: steelblue;
    -fx-font-size: 40;
}

.backGroundStyling {
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
}

.GridpaneBorderStyling {
    -fx-border-color: grey;
    -fx-border-width: 5;
    -fx-border-radius: 10px;
}

#btn {
     -fx-background-image: url("https://img.icons8.com/color/48/000000/login-rounded-right.png");
     -fx-background-size: 18 18;
     -fx-background-repeat: no-repeat;
     -fx-background-position:left;
 }

#Teacher {

    width="48"
    height="48"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M107.5,35.83333c0,11.825 -9.675,21.5 -21.5,21.5c-11.825,0 -21.5,-9.675 -21.5,-21.5c0,-11.825 9.675,-21.5 21.5,-21.5c11.825,0 21.5,9.675 21.5,21.5zM141.9,104.99167c-2.15,0 -3.94167,-0.71667 -5.375,-2.50833v0c-0.35833,-0.35833 -19.35,-21.5 -50.525,-21.5c-31.175,0 -50.16667,21.14167 -50.525,21.5c-2.50833,2.86667 -7.16667,3.225 -10.03333,0.71667c-2.86667,-2.50833 -3.225,-7.16667 -0.71667,-10.03333c1.075,-1.075 23.65,-26.51667 61.275,-26.51667c37.625,0 60.2,25.44167 61.275,26.51667c2.50833,2.86667 2.15,7.525 -0.71667,10.03333c-1.43333,1.075 -3.225,1.79167 -4.65833,1.79167z" fill="#add8e6"></path><path d="M102.48333,161.25c-2.15,0 -4.3,-0.71667 -6.09167,-2.50833c-3.58333,-3.58333 -3.58333,-8.95833 -0.35833,-12.54167c0.35833,-0.35833 7.88333,-8.6 7.88333,-18.275c0,-10.75 -5.73333,-21.14167 -6.09167,-21.14167c-2.50833,-4.3 -1.075,-9.675 3.225,-12.18333c4.3,-2.50833 9.675,-1.075 12.18333,3.225c0.35833,0.71667 8.24167,14.69167 8.24167,30.1c0,16.48333 -11.46667,29.38333 -12.9,30.45833c-1.43333,1.79167 -3.94167,2.86667 -6.09167,2.86667zM69.875,161.25c-2.50833,0 -4.65833,-1.075 -6.45,-2.86667c-1.43333,-1.43333 -12.9,-13.975 -12.9,-30.45833c0,-15.76667 7.88333,-29.74167 8.24167,-30.1c2.50833,-4.3 7.88333,-5.73333 12.18333,-3.225c4.3,2.50833 5.73333,7.88333 3.225,12.18333c0,0 -6.09167,10.39167 -6.09167,21.14167c0,9.31667 7.88333,18.275 7.88333,18.275c3.58333,3.58333 3.225,9.31667 -0.35833,12.54167c-1.43333,1.79167 -3.58333,2.50833 -5.73333,2.50833z" fill="#add8e6"></path><path d="M57.69167,82.41667v21.5c0,15.76667 12.9,28.30833 28.30833,28.30833c15.40833,0 28.30833,-12.9 28.30833,-28.30833v-21.5z" fill="#ffffff"></path><path d="M57.33333,73.81667h57.33333v20.78333h-57.33333z" fill="#add8e6"></path></g></g></svg>
    -fx-background-image: url("http://www.w3.org/2000/svg");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}

}